{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section style="margin-top:20px; margin-bottom:20px">
    <div class="container">
       <div class="columns">
       <div class="column box is-half is-offset-one-quarter">

       <h1 class="title">Mot de passe oublié </h1>
       
      <form id="form" method="POST">
        

        <label class="label">Email</label>
        <div class="control">
        <input name="email" value="" class="input is-medium requis" type="email">
        </dv>
        


        
        <div class="control">
		<button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">
        Envoyer un email
        </button>
		</div>
      </form>
      </div>
      </div>
      </div>
    </section>
{% endblock %}