{% extends 'base.html.twig' %}

{% block title %}WALOUDE - Qui Sommes-Nous ?{% endblock %}

{% block body %}

<section style=" height:200px; background-image: url(../fichiers/waloude.png); background-repeat: no-repeat; !important;">
     <h1 style="padding-left:20px; padding-top:70px; font-size:29px; color:black; font-weight:bold;">WALOUDE Qui Sommes-Nous ?</h1>
     </section>

     {% include 'trait.html.twig' %}
<section >
    <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-8">
    <h1 class="title" style="color:#5271ff; margin-bottom: 20px;">
    WALOUDE - Qui Sommes-Nous ?
</h1>
<p class="waloude">
    WALOUDE est une association indépendante, créée le 31 Janvier 2020, sans
    but lucratif qui a pour objectif principal de permettre à ses adhérents,
    personnes physiques (c’est-à-dire les souscripteurs de contrats obsèques)
    de mutualiser le risque de financement des obsèques par anticipation.
</p><br/>
<p class="waloude">
    Elle vise donc à mettre en place une solide mutuelle prévoyance décès qui
    permettra de mettre ses adhérents à l’abri des conséquences financières
    d’un décès prématuré, par accident ou maladie, grâce au versement d’un
    capital décès.
</p><br/><br/>
<h2 class="subtitle" style="color:#5271ff; margin-bottom: 20px;">
    Nos valeurs et engagements
</h2>
<p class="waloude">
    WALOUDE s’engage à protéger l’avenir de ses adhérents et s’engage à
faciliter au mieux les démarches liées au    <strong>bon déroulement des obsèques</strong>.
</p><br/>
<p>
    Pour être reconnu et autorisé comme professionnel chargé d’organiser les
prestations funéraires, l’Association est    <strong>habilitée par la Préfecture</strong>.
</p><br/>
<p class="waloude">
    <strong>1-Rapatriement du corps: </strong>
    Prise en charge total et démarches administratives.
</p>
<p class="waloude">
    <strong>2-Arriver au pays: </strong>
    Mise en disposition véhicule funèbre.
</p>
<p class="waloude">
    <strong>3- Versement au bénéficiaire</strong>
    : Jusqu’à 1 Million de CFA.
</p><br/><br/>
<h2 class="subtitle" style="color:#5271ff; margin-bottom: 20px;">
    WALOUDE Prévoyance regroupe
</h2>
<p class="waloude">
    <strong>-Des personnes physiques </strong>
    : les souscripteurs de contrats obsèques,
</p><br/>
<p class="waloude">
    - <strong>Des personnes morales </strong>: ce sont les entreprises de
    Pompes
</p><br/>
<p class="waloude">
    -Funèbres indépendantes, Mutuelles solidaires de proximité, associations ou
    autres Personnes Morales ayant souscrit à l’une des conventions souscrites
    par l’Association.
</p><br/>
<p class="waloude">
    - Leur objectif commun est de toujours garantir le libre-choix de
    l'opérateur funéraire et l’accès pour tous à des obsèques choisies de bonne
    qualité.
</p>

</div>
<div class="column is-2"></div>
</div>
</section>



{% endblock %}
