{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

<div class="container">

<div class="columns">
    		<div class="column is-two-thirds">
        <h1 class="title">WALOU Qui Sommes-Nous ?</h1>
        <p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">WALOU est une association indépendante, créée le 31 Janvier 2020,&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">sans but lucratif qui a pour objectif principal de permettre à ses adhérents, personnes physiques (c’est-à-dire les souscripteurs de contrats obsèques) de mutualiser le risque de financement des&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">obsèques par anticipation.&nbsp;</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Elle vise donc à mettre en place une solide&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">mutuelle prévoyance décès qui permettra de mettre ses adhérents à&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">l’abri des conséquences financières d’un décès prématuré, par accident ou maladie, grâce au versement d’un capital décès.&nbsp;</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">WALOU s’engage à protéger l’avenir de ses adhérents et s’engage à faciliter au mieux les démarches liées au bon déroulement des obsèques.</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Pour être reconnu et autorisé comme professionnel chargé d’organiser les prestations funéraires,&nbsp;l’Association est habilitée par la Préfecture.</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Cette habilitation est délivrée pour une période de 6 ans renouvelable.</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Selon la réglementation sur l’intermédiation, en tant que mandataire de l’assureur, l’Association est déclarée Intermédiaire d’Assurances.</span></p>
        <p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<h2 class="subtitle">WALOU Prévoyance regroupe :</h2>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">- Des personnes physiques : &nbsp;les souscripteurs de contrats obsèques,</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">- Des&nbsp;personnes morales&nbsp;: ce sont les entreprises de Pompes</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Funèbres indépendantes, Mutuelles solidaires de proximité, associations&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">ou autres Personnes Morales ayant souscrit à l’une des conventions&nbsp;</span><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">souscrites par l’Association.</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;"><span style="font-size:18pt;font-family:Calibri,sans-serif;color:#000000;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white-space:pre;white-space:pre-wrap;">Leur objectif commun est de toujours garantir le libre-choix de l&amp;#39;opérateur funéraire et l’accès pour tous à des obsèques choisies de bonne qualité.</span></p>
<p dir="ltr" style="color:#3c3c3b; line-height:1.2;text-align: justify;margin-top:0pt;margin-bottom:0pt;">
  <br>
</p>			
		</div>

    <div class="column">

    <img class="logo-eovi" src="{{ asset('./fichiers/waloude.png') }}"></a>
			
		</div>

    </div>

</div>

{% endblock %}
