{% extends 'base.html.twig' %}

{% block title %}Edit Souscripteur{% endblock %}

{% block body %}
    <h1>Edit Souscripteur</h1>

    {{ include('souscripteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('souscripteur_index') }}">back to list</a>

    {{ include('souscripteur/_delete_form.html.twig') }}
{% endblock %}
