{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="box">
          <article class="media">
              <div class="media-left">
                <figure class="image is-128x128">
                  <img src="{{ asset('https://bulma.io/images/placeholders/256x256.png') }}" alt="jkkkkkk" title="uyyyyyyyy" >
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>John Smith</strong> 
                    <br>
                      Téléphone: <br>
                      Email:  <br>
                      Pays: <br>
                      Région: <br>
                      Ville: <br>
                      Code postal:    <br>  
                  </p>
                  <p><a href="#"><a class="button is-primary">Modifier vos informations</a></a></p>
                </div>
              </div>
              
          </article>
        </div>

       <table class="table box">
  <thead>
    <tr>
      <th><abbr title="Played">Assurés</abbr></th>
      <th><abbr title="Won">Nom</abbr></th>
      <th><abbr title="Drawn">Prénom</abbr></th>
      <th><abbr title="Lost">Date de naissance</abbr></th>
      <th><abbr title="Lost">Affiliation</abbr></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
  </tbody>  

  </table> 


    

{% endblock %}
