  <div class="step-item is-active is-success">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p class="step-title">Informations personnelles</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p class="step-title">Enfants</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">3</div>
    <div class="step-details">
      <p class="step-title">Bénéficiaires</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">4</div>
    <div class="step-details">
      <p class="step-title">Situation familiale</p>
    </div>
  </div>
  
  <div class="step-item">
    <div class="step-marker">5</div>
    <div class="step-details">
      <p class="step-title">Justificatifs</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">6</div>
    <div class="step-details">
      <p class="step-title">Validation</p>
    </div>
  </div>