{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<section style=" height:200px; background-image: url(../fichiers/faq.png); background-repeat: no-repeat; !important;">
     <h1 style="padding-left:20px; padding-top:70px; font-size:29px; color:black; font-weight:bold;">Foire aux questions</h1>
     </section>
     {% include 'trait.html.twig' %}
  <div class="container">
     <div class="columns">

     <div class="column">

    <h1 class="title">FAQ</h1><br>

        {% for faq in faqs %}
            <h2 class="subtitle" style="font-weight:bold;">{{ faq.id }}- {{ faq.titre }}</h2>
                <p>{{ faq.description }}</p><br><br>
        {% else %}
no records found</td>
        {% endfor %}

        </div></div></div>
{% endblock %}
