{% extends 'base.html.twig' %}

{% block title %}New Faq{% endblock %}

{% block body %}
    <h1>Create new Faq</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('faq_index') }}">back to list</a>
{% endblock %}
