header>nav>.navbar-link>a{font-weight: 900; font-size: x-large;}

header>div{width: 50%;}
.texte_defile{color: #b01c87; margin-top: 30px; font-size: large; font-weight: bold;  }

.fa-check{color: #5271ff;}
.fa-mouse-pointer{color: #5271ff;}

.souscrire>a{color: #5271ff ; font-weight: 600;}

/* .nosformules{ display: flex; justify-content: center; align-items: center;} */

.nosformules{height:300px}

.texte_defile {
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
    }
    @-moz-keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
    }
    @-webkit-keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
    }
    @keyframes marquee {
    0% { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%) }
    100% { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
    }
.pointsforts{background-color: #efefef; border-radius: 20px; }

.pointsforts>tr{padding: 20px;} 

header button>a{color: white;}
.navbar-item {color:#b01c87; font-weight: 900;}

@media screen and (max-width: 1023px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-brand {
    min-width: 100%;
  }
  .navbar-menu {
    margin-left: auto;
    min-width: 50%;
  }
}

.waloude{font-size: 20px; text-align: justify;}

/* header button{background-color: #5271ff; border: #5271ff solid 2px; width: 200px; height: 70px;}
header button>a{color: white; font-weight: bold; font-size: 20px;}
header button>a:hover{color: white; border-bottom: #b01c87 solid 5px;}

.navbar-item{color: #5271ff;}
.navbar-item:hover { border-bottom: #b01c87 solid 5px; }

  .navbar-item {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 60px;
    margin-right: 0px;
  }
 */
  /* .blocactif.active {
    border-bottom: #b01c87 solid 5px;
} */

/*   @media screen and (min-width:768px){
    header button{
        display: contents;
        justify-content: center;
        align-items: center;
    } 
    
    }*/
 /*  @media screen and (min-width:768px){
      .navbar-brand-centered {
          position: absolute;
          left: 50%;
          display: block;
          width: 160px;
          text-align: center;
          background-color: #eee;
      }
      .navbar>.container .navbar-brand-centered, 
      .navbar>.container-fluid .navbar-brand-centered {
          margin-left: -80px;
      } */

     /*  header button{float: right;} */
  /*}
  
   a.navbar-item {
    text-align: center;
  }
  
  @media screen and (min-width: 1088px) {
    .navbar-start {
      margin-left: auto;
      margin-right: 150px;
    }
    .navbar-end {
      margin-right: auto;
      margin-left: 150px;
    }
    .navbar-item{font-weight: 900; font-size: x-large;}
  } */



   
  
 