      <div class="column">
              {{ form_row(form.adresse) 
            }}
            </div>

            <div class="column">
              {{ form_row(form.code_postal) 
            }}
            </div>

            <div class="column">
              {{ form_row(form.ville) 
            }}
            </div>