{# {% import "souscripteur/stepsElements/civilite.html.twig" as civilite %} #}

{# {%  if civilite=="marie" %} #}
<div class="box">
<h2 class="subtitle">
Sur la base des informations que vous nous avez communiquées, votre cotisation est la suivante:
</h2>
<table class="table">
<tr>
<td>
<p>- Vous êtes marié(e) ou en couple avec ou sans enfants<br/>
- Vous êtes célibataire, veuf(e) et avec des enfants, vous cotisez : </p>
<strong style="font-size:20px; color:#b01c87">120 euro/an</strong>
<p style="font-size:15px">Soit 10 euro/mois</p>
</td>

<td>
<p>Vous êtes seul(e), célibataire, veuf(e) et sans enfants, vous cotisez: </p>
<strong style="font-size:20px; color:#b01c87">60 euro/an</strong>
<p style="font-size:15px">Soit 5 euro/mois</p>
</td>
</tr>
</table>
-----------------------------------------------------<br>
<table>
<thead>
    <tr>
        <th>Ce capital permet de couvrir :</th>
    </tr>
  </thead>
<tbody>
<tr style="height: 50px;">
<td style="color:#b01c87"></td>
<td><i class="fas fa-check"></i> les frais de rapatriement</td>
</tr>
<tr style="height: 50px;">
<td style=" color:#b01c87"></td>
<td><i class="fas fa-check"></i> Les frais d’obsèques (1500 euros)</td>
</tr>
<tr style="height: 50px;">
<td style=" color:#b01c87"></td>
<td><i class="fas fa-check"></i> Mise en disposition véhicule funéraire</td>
</tr>
</tbody>
<tfoot>
<tr>
<td>
Pour vous et toute votre famille
</td>
</tr>
</tfoot>
</table>
</div>

<div class="columns">
<h2 class="column is-full subtitle">Choisissez votre mode de paiement</h2>
</div>
<div class="field">
  <input class="is-checkradio is-rtl" id="exampleRtlRadioInline1" type="radio" name="exampleRtlRadioInline" checked="checked">
  <label for="exampleRtlRadioInline1">Prélèvement SEPA</label>

  <input class="is-checkradio is-rtl" id="exampleRtlRadioInline2" type="radio" name="exampleRtlRadioInline">
  <label for="exampleRtlRadioInline2">Comptant</label>
</div>


