      <div class="column">
          {{ form_row(form.nom) 
            }}
      </div>
       <div class="column">
          {{ form_row(form.prenom) 
            }}
      </div>
       <div class="column">
          {{ form_row(form.nom_jeune_fille) 
            }}
      </div>

      
