            <div class="column">
              {{ form_row(form.pays_residence) 
            }}
            </div>

            <div class="column">
              {{ form_row(form.ville_residence) 
            }}
            </div>