<div class="column is-3">
              {{ form_row(form.telephone) 
            }}
            </div>

            <div class="column is-3">
              {{ form_row(form.tel_domicile) 
            }}
            </div>

