<section class="section-texte-image">
	<div class="columns columns-vcenter">
			<div class="column is-5">
			<hr style="height: 10px; background:#5271ff; border-radius:10px; ">
			</div>
			<div class="column is-2">
			<img src="{{ asset('./fichiers/logo.png') }}">
			</div>
			<div class="column is-5">
			<hr style="height: 10px; background:#5271ff; border-radius:10px; ">
			</div>
	</div>
	</section>