      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">{{ form_label(form.profession) }}<span style="color:red">*</span></label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              {{ form_widget(form.profession) 
            }}
            </div>
            <small>{{ form_help(form.profession) }}</small>
          <div class="form-error">
            {{ form_errors(form.profession) }}
          </div>
          </div>
        </div>
      </div>